$redColor: #e4002b;
$grayColor: #333f48;
$whiteColor: #ffffff;
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: $grayColor;
  text-align: center;
}

.App{
  padding: 20px;
}
.col-saved{
  p{
    margin-top: 30px;
    color: $redColor;
  }
}
 
.card{  
box-shadow: 0 0.125em 0.25em rgba(0,0,0,.2);
margin: 1.5em;
background-color: $whiteColor;
overflow:hidden;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

  img{
    width: 100%;
  }

  span {
    display: none;
    position: absolute;
    margin-top: -107px;
    margin-left: -60px;
  }
button{
  cursor: pointer;
  width: 120px;
    height: 40px;
    border-color:$redColor;
    background: $redColor;
    border-radius: 4px;
    line-height: 1;
    border-width: 2px;
    border-style: solid;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

&:hover{
  cursor: pointer;
  span{
    display: inline-block;
  }
}
}

.priceInfo{
  font-size: 1.125rem;
    line-height: 1.5rem;
}
img{
  height: 120px;
&.logo{
  width:170px;
  height: auto;

}
}
.topHead{
  height: 32px;
}
.col-results, .col-saved{
  width:300px;
  float:left;
  margin: 10px;
}

.card-body{
  padding:0px;
}
@media only screen and (max-width: 768px)
{
  .col-results, .col-saved {
    padding: 20px;
    float: left;
    width: 50%;
    margin: 0px;
}
}
@media only screen and (max-width: 600px) {
  .col-results, .col-saved {
    padding: 20px;
    float: left;
    width: 100%;
    margin:0px;
  }
  .card-body img {
    height: 120px;
}
}

@media only screen and (max-width: 320px) {
  .App{
    padding: 0px;
  }
}